<%= render 'shared/navbar_general' %>

  <div class="row justify-content-center back-image">
    <div class="col-12 col-md-8 " style="color: #253343; font-family: Cherry Bomb;margin-top: 40px ">
      <h1 class="text-center titre-jo" style="margin-top: 50px;"><%= @league.name %></h1>

      <div class="selection-user">
        <%= form_with url: new_league_membership_path, method: :get, class: "d-flex justify-content-center" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control me-3 ms-2 recherche",
            placeholder: "recherche un joueur"
          %>
          <%= submit_tag "Ace !", class: "btn-ace btn-modif" %>
        <% end %>
        <div class="text-center">
          <%= simple_form_for [@league, @membership] do |f| %>
            <%= f.input :user, collection: @user_collection, input_html: {multiple: true, class: "multiple-select ajouter"}, include_hidden: false, label:false %>
            <%= f.submit "Ajouter", class: 'btn-ace mt-4 ' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
