<div class="navbar">
    <div class="back-arrow">
      <%= link_to "javascript:history.back()" do %>
      <i class="fa-solid fa-arrow-left fa-2xl" style="color: #ffffff;"></i>
      <% end %>
    </div>
    <div style="color: white;">
    Création
    </div>
    <div class="logo">
      <%= link_to matches_path do %>
      <img src="https://res.cloudinary.com/diuabdrmm/image/upload/v1686218660/ace_vlx2py.png" alt="Logo" width="50" height="50">
      <% end %>
    </div>
</div>

<div class="d-flex justify-content-center">
  <div>
  <button class="number-wrapper">
     1
  </button>
    <p class="label">Logo</p>
  </div>
  <div>___________</div>
  <div>
  <button class="number-wrapper">
     2
  </button>
    <p class="label">Nom</p>
  </div>
</div>

<%= simple_form_for(@league) do |f| %>
<%= f.input :image,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'ligue-wrapper',
            item_wrapper_class: 'ligue-item category-ligue',
            input_html: {class: 'ligue-selector'},
            collection: [[image_tag(League::CATEGORIES.first,alt: ""),League::CATEGORIES.first],[image_tag(League::CATEGORIES.second,alt: ""),League::CATEGORIES.second],[image_tag(League::CATEGORIES.third,alt: ""),League::CATEGORIES.third],[image_tag(League::CATEGORIES.fourth,alt: ""),League::CATEGORIES.fourth],[image_tag(League::CATEGORIES.fifth,alt: ""),League::CATEGORIES.fifth]] %>
  <%= f.input :name, label: 'Nom', input_html: { class: 'name-field' } %>
  <%= f.button :submit, class: 'button-17' do %>
    Creation
  <% end %>
<% end %>



<div>
<button class= 'button-17'>Suivant</button>
</div>
