  <div class="container">
    <h1><%= @league.name %></h1> <br>
    <p>created by : <%= @league.user.first_name %> </p>
    <button>
    <%= link_to "Ajouter un membre", new_league_membership_path(@league) %>
    </button>
  </div>


<div class="row mt-5">
    <% @league.memberships.each do |membership| %>
      <div class="col-4">
        <%= link_to "x", membership_path(membership), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "card-remove-link" %>
        <div class="card-category">
          <%= membership.user.nickname %>
        </div>
      </div>
    <% end %>
  </div>
