
  <div class="footer-links">

    <div class="logo-footer">
      <%= link_to root_path, class: "" do %>
        <i class="fa-solid fa-house"></i>
        <p>Home</p>
      <% end %>
    </div>

    <div class="logo-footer">
      <%= link_to root_path, class: "" do %>
        <i class="fa-solid fa-map" data-action="click->map-display#toggleDivs"></i>
        <p>Carte</p>
      <% end %>
    </div>

    <div class="logo-footer logo-match">
      <%= link_to new_match_path, class: "" do %>
        <i class="fa-solid fa-plus fa-2xl"></i>
        <p>Match</p>
      <% end %>
    </div>

    <div class="logo-footer">
      <%= link_to profile_path, class: "" do %>
        <i class="fa-solid fa-user"></i>
        <p>Profil</p>
      <% end %>
    </div>

    <div class="logo-footer">
      <%= link_to dashboard_path, class: "" do %>
        <i class="fa-solid fa-message"></i>
        <p>Message</p>
      <% end %>
    </div>

  </div>
