<div class="footer">
  <div class="footer-links">
    <%= link_to root_path, class: "" do %>
      <i class="fa-solid fa-house"></i>
    <% end %>

    <%= link_to root_path, class: "" do %>
      <i class="fa-solid fa-map"></i>
    <% end %>

    <%= link_to new_match_path, class: "" do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>

    <%= link_to profile_path, class: "" do %>
      <i class="fa-solid fa-user"></i>
    <% end %>

    <%= link_to root_path, class: "" do %>
      <i class="fa-solid fa-message"></i>
    <% end %>

  </div>
</div>
