<div class="footer">
  <div class="footer-links">
    <%= link_to 'Home', root_path, class: "" %>
    <%= link_to 'Carte', root_path, class: "" %>
    <%= link_to '+', root_path, class: "" %>
    <%= link_to 'H', root_path, class: "" %>
    <%= link_to 'H', root_path, class: "" %>





  </div>
</div>
