<%= render 'shared/navbar_general' %>

<div data-controller="message" class="page-container">

  <div class="d-flex">
    <div class="column">
      <button data-action="click->message#showMessage" class="column-button">Notifications</button>
    </div>

    <div class="column">
      <button data-action="click->message#showNotification" class="column-button">Messages</button>
    </div>
  </div>

  <div>
    <div data-message-target="message" class="content">
      <!-- Contenu de la colonne des messages -->

      <% @requests.each do |request| %>
        <% if request.status == "accepted" && request.match.match_type == "Défi" %>
          <% first_print_date = request.created_at %>
          <% current_date = Time.now %>
          <% difference_hours= ((current_date - first_print_date) / 3600).round %>
          <% difference_days= ((current_date - first_print_date) / 96400).round %>
          <div class="card-vinted" data-controller="toggle" class="collapsed">
            <div data-action="click->toggle#toggle">
            <% if difference_hours < 24%>
              <p style='color: gray'>il y a <%= difference_hours %> heures</p>
            <% elsif difference_days = 1 %>
              <p style='color: gray'>il y a <%= difference_days %> jour</p>
            <% else %>
              <p style='color: gray'>il y a <%= difference_days %> jours</p>
            <% end %>
            <h2 style="color: red"> Rentrez le score du défi avec <%= request.user.nickname %></h2>
            </div>
            <div data-toggle-target="content">
              <button class="btn-ace"><%= link_to "Rentrer le score", edit_match_path(request.match), class: "" %></button>
            </div>
          </div>
        <% end %>
      <% end %>

      <% @my_requests.each do |request| %>
        <% first_print_date = request.created_at %>
        <% current_date = Time.now %>
        <% difference_hours= ((current_date - first_print_date) / 3600).round %>
        <% difference_days= ((current_date - first_print_date) / 96400).round %>
        <div class="card-vinted" data-controller="toggle" class="collapsed">
          <div data-action="click->toggle#toggle">
            <% if difference_hours < 24%>
              <p style='color: gray'>il y a <%= difference_hours %> heures</p>
            <% elsif difference_days = 1 %>
              <p style='color: gray'>il y a <%= difference_days %> jour</p>
            <% else %>
              <p style='color: gray'>il y a <%= difference_days %> jours</p>
            <% end %>
            <h2> Votre demande de match à <%= request.match.user.nickname %>!</h2>
            <p> <i class="fa-solid fa-baseball" style="color: #020203;"></i> Match <%= request.match.modality%></p>
            <% if request.status == "refused" %>
            <p><strong> Votre match a été annulé </strong> </p>
            <% end %>
          </div>
          <div data-toggle-target="content">
            <p> <strong>Adresse: </strong> <%= request.match.address %></p>
            <p><strong>Niveau: </strong><%= request.match.level.to_i %></p>
            <p><strong>Date: </strong><%= request.match.date %></p>
            <p style="text-align: end; font-size: 22px"><strong><%= request.match.price.to_i %>€</strong></p>
            <%# <p><strong>Son statut est : </strong><%= request.status %>
            <div class="button-container">
              <% if request.status == "pending" %>
                <button class="refuse-button button-full-width"><%= link_to "Annuler le match", refuse_request_path(request), data: { turbo_method: :patch } %></button>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <% @requests.each do |request| %>
        <% first_print_date = request.created_at %>
        <% current_date = Time.now %>
        <% difference_hours= ((current_date - first_print_date) / 3600).round %>
        <% difference_days= ((current_date - first_print_date) / 96400).round %>
        <div class="card-vinted" data-controller="toggle" class="collapsed">
          <div data-action="click->toggle#toggle">
            <% if difference_hours < 24%>
              <p style='color: gray'>il y a <%= difference_hours %> heures</p>
            <% elsif difference_days = 1 %>
              <p style='color: gray'>il y a <%= difference_days %> jour</p>
            <% else %>
              <p style='color: gray'>il y a <%= difference_days %> jours</p>
            <% end %>
            <h2> <%= request.user.nickname %> veut jouer avec vous! </h2>
            <p> <i class="fa-solid fa-baseball" style="color: #020203;"></i> Match <%= request.match.modality%></p>
            <% if request.status == "refused" %>
            <p><strong>Votre match a été refusé </strong> </p>
            <% elsif request.status == "accepted" %>
            <p><strong>Votre match a été accepté!</strong> </p>
            <% end %>
          </div>
          <div data-toggle-target="content">
            <p><strong>Adresse: </strong><%= request.match.address %></p>
            <p><strong>Niveau: </strong><%= request.match.level.to_i %></p>
            <p><strong>Date: </strong><%= request.match.date %></p>
            <p style="text-align: end; font-size: 22px"><strong><%= request.match.price.to_i %>€</strong></p>
            <%# <p><%= request.status %>
            <div class="button-container">
              <% if request.status == "pending" %>
                <div class="button-wrapper">
                  <button class="accept-button button-half-width"><%= link_to "Accepter", accept_request_path(request), data: { turbo_method: :patch } %></button>
                  <button class="refuse-button button-half-width"><%= link_to "Refuser", refuse_request_path(request), data: { turbo_method: :patch } %></button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

    </div>

    <div data-message-target="notification" class="container chat-card">
      <%# class="content"> %>
      <!-- Contenu de la colonne des notifications -->
      <% current_user.chatrooms.each do |chatroom|%>
        <%= link_to chatroom_path(user_id: other_chatroom_user(chatroom).id ) do%>
          <div class="small-card">
              <div>
                <%= cl_image_tag other_chatroom_user(chatroom).photo.key, class: "avatar m-3"%>
              </div>
              <div class="chat-infos">
                <p style="font-size: 20px" class="card-titre-gras"><strong><%= other_chatroom_user(chatroom).nickname %></strong></p>

                <% unless chatroom.messages.empty? %>
                  <%= chatroom.messages.last.content%>

                <% end %>
              </div>

              <div>
                <% unless chatroom.messages.empty? %>
                  <i class="message-time"><%= chatroom.messages.last.created_at.strftime("%l:%M %p") %></i>
                <% end %>
              </div>
          </div>
        <%end%>
      <%end%>
    </div>


  </div>
</div>
