<%= render 'shared/navbar_general' %>

<div data-controller="message" class="page-container">

<div class="d-flex">
  <div class="column">
    <button data-action="click->message#showMessage" class="column-button">Notifications</button>
  </div>

  <div class="column">
    <button data-action="click->message#showNotification" class="column-button">Messages</button>
  </div>
</div>

  <div>
    <div data-message-target="message" class="content">
      <!-- Contenu de la colonne des messages -->

      <div class="card-vinted" data-controller="toggle" class="collapsed">
        <% @my_requests.each do |request| %>
        <div data-action="click->toggle#toggle">
          <h2> Vous avez envoyé une demande à : <%= request.match.user.nickname %>!</h2>
          <p> <i class="fa-solid fa-baseball" style="color: #020203;"></i> Match <%= request.match.modality%></p>
        </div>
        <div data-toggle-target="content">
          <p> <strong>Adresse: </strong> <%= request.match.address %></p>
          <p><strong>Niveau: </strong><%= request.match.level.to_i %></p>
          <p><strong>Date: </strong><%= request.match.date %></p>
          <p style="text-align: end; font-size: 22px"><strong><%= request.match.price.to_i %>€</strong></p>
          <%# <p><strong>Son statut est : </strong><%= request.status %>
          <div class="button-container">
            <% if request.status == "pending" %>
              <button class="refuse-button button-full-width"><%= link_to "Annuler le match", refuse_request_path(request), data: { turbo_method: :patch } %></button>
            <% end %>
          </div>
        <% end %>
        </div>
      </div>

      <div class="card-vinted" data-controller="toggle" class="collapsed">
        <% @requests.each do |request| %>
        <div data-action="click->toggle#toggle">
          <h2> <%= request.user.nickname %> vous défie ! </h2>
          <p> <i class="fa-solid fa-baseball" style="color: #020203;"></i> Match <%= request.match.modality%></p>
        </div>
        <div data-toggle-target="content">
          <p><strong>Adresse: </strong><%= request.match.address %></p>
          <p><strong>Niveau: </strong><%= request.match.level.to_i %></p>
          <p><strong>Date: </strong><%= request.match.date %></p>
          <p style="text-align: end; font-size: 22px"><strong><%= request.match.price.to_i %>€</strong></p>
          <%# <p><%= request.status %>
        <div class="button-container">
          <% if request.status == "pending" %>
            <div class="button-wrapper">
              <button class="accept-button button-half-width"><%= link_to "Accepter", accept_request_path(request), data: { turbo_method: :patch } %></button>
              <button class="refuse-button button-half-width"><%= link_to "Refuser", refuse_request_path(request), data: { turbo_method: :patch } %></button>
            </div>
          <% end %>
        </div>
        <% end %>
        </div>
      </div>

    </div>
    <div data-message-target="notification" class="content">
      <!-- Contenu de la colonne des notifications -->
      <p>Mes messages</p>
    </div>
  </div>

</div>
