<%= render 'shared/navbar_general' %>

<div class="container-global">
  <div class="container text-center"> <!-- Added 'text-center' class -->
    <div class="profile" style="margin-bottom: 20px; margin-top: 20px" data-controller="fade-out">
      <%= cl_image_tag current_user.photo.key, class: "profile-avatar avatar-bordered img-fluid rounded-circle"%>
      <h3 style="font-size: 24px; font-weight: bold;"><%= current_user.nickname %></h3>
      <div class="fade-wrapper mt-3 mb-4">
        <h4 class="fade-out" style="font-size: 22px; font-weight: bold;"><%= current_user.points - params[:points_change].to_i if current_user.points %>pts</h4>
        <h4 class="fade-in" style="font-size: 22px; font-weight: bold;"><%= current_user.points %>pts</h4>
      </div>
      <% if params[:points_change] %>
        <% points_change = params[:points_change].to_i %>
        <span data-fade-out-target="change" style="font-size: 22px;" class="fade-in <%= points_change.positive? ? 'won' : 'lost' %>"><%=  '+' if points_change.positive?%><%= points_change %> pts </span>
      <% end %>
    </div>


    <div class="container">
      <!-- Create a league button -->
      <button class="button-17 mt-3" >
        <%= link_to "Créer une ligue", new_league_path(@league) %>
      </button>
      <!-- Add a league button -->
      <%# <button class="btn btn-secondary" style="background-color: white; color: white;">
        <%= link_to "Rechercher une ligue", leagues_path %>

      <div class="custom-container">
        <ul class="nav nav-pills mb-3 mt-3 nav-fill" id="" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link custom-button" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Mes ligues</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link custom-button" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Historique</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
        <div class="row list-style">
          <% @leagues.each do |league| %>
            <div class="col-md-4 mt-2">
              <!-- League card -->
              <%= link_to league_path(league) do %>
                <div class="flexible">
                  <div class="card-body d-flex align-items-center">
                    <%= image_tag league.image, class: "rounded-league-image", style: "width: 40px; height: 40px;" %>
                    <h4 class="card-title"><%= league.name %></h4>
                    <p class="card-text" style="margin-left: auto; margin-right: auto;">  <%= league.memberships.count %><i class="fa-solid fa-user-group" style="color: #000000;"></i></p>
                  </div>
                  <div>
                    <i class="fa-solid fa-arrow-right fa-xl" style="color: #3b69ba;"></i>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0" >
        <!-- History section -->

        <% @matches_user.each do |match| %>
        <div class="small-card" id="card-hist">
          <div>
             <% if match.winner != match.user.nickname %>
              <% loser = Request.where(match: match).first.user %>
              <%= cl_image_tag loser.photo.key, class: "avatar m-3"%>
            <% else %>
              <% loser = match.user %>
              <%= cl_image_tag loser.photo.key, class: "avatar m-3"%>
            <% end %>
          </div>
          <div class="m-2">
            <%= match.winner %>
          </div>
          <div class="m-2">
            <%= match.winner_score %>
          </div>
          <div class="m-2">
            <%= match.loser_score %>
          </div>
          <div>
            <% if match.winner == match.user.nickname %>
              <%= loser = Request.where(match: match).first.user.nickname %>
            <% else %>
              <%= loser = match.user.nickname %>
            <% end %>
          </div>
          <div>
            <% if match.winner == match.user.nickname %>
              <% loser = Request.where(match: match).first.user %>
              <%= cl_image_tag loser.photo.key, class: "avatar m-3"%>
            <% else %>
              <% loser = match.user %>
              <%= cl_image_tag loser.photo.key, class: "avatar m-3"%>
            <% end %>
          </div>
          <div>
            <% if match.winner == current_user.nickname %>
            <p>Victoire</p>
            <% else %>
            <p>Défaite</p>
            <% end %>
          </div>
        </div>
        <% end %>



      </div>
    </div>
  </div>




</div>
