
<div class="container">
  <div class="card-product">
    <% @matches.where(archived: false).each do |match| %>
      <%# <% match.requests.where.not(status: 1).each do |request| %>
      <%= link_to match_path(match) do %>
        <div class="card">
          <div class="d-flex align-items-center justify-content-between">
            <h2><strong>Match <%= match.modality %></strong></h2>
            <% if match.match_type == "défi"  %>
              <p><i class="fa-solid fa-trophy" style="color: #000000; font-size: 18px; padding-right: 5px" ></i><%= match.match_type %></p>
            <%else %>
              <p><i class="fa-solid fa-face-smile" style="color: #000000; font-size: 18px; padding-right: 5px"></i><%= match.match_type %></p>
            <%end %>
          </div>

          <h3 class="card-title"><i class="fa-solid fa-location-dot" style="color: #000000; font-size: 18px; padding-right: 5px"></i><%= match.address %></h3>

          <div class="card-text">
            <p><i class="fa-solid fa-calendar-days" style="color: #000000; font-size: 18px; padding-right: 5px"></i><%= match.date.strftime("%Hh-%d-%b-%Y")  %></p>
            <%# <p><%= match.level.to_i</p> %>
            <%# <p><%= match.price.to_i€</p> %>
            <%# <p><%= match.requests.last.status</p> %>
          </div>


          <div class="btn-field"><button class="btn-ace"><%= link_to 'Voir les Détails', match_path(match) %></button></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
