<div class="card-product">
  <% @matches.each do |match| %>
    <%= link_to match_path(match) do %>
      <div class="card">
        <h2 class="card-title"><i class="fa-solid fa-location-dot" style="color: #000000;"></i><%= match.address %></h2>
        <div class="card-text">
          <p><%= match.modality %></p>
          <p><%= match.match_type %></p>
          <p><%= match.level.to_i %></p>
          <p><i class="fa-solid fa-calendar-days" style="color: #000000;"></i><%= match.date.strftime("%H""-""%d""-""%b""-""%Y") %></p>
          <p><%= match.price.to_i %>€</p>
        </div>
      </div>
    <% end %>
    <% end %>
</div>
