
  <%= form_with url: matches_path, method: :get, class: "", html: { data: { controller: "btnsave" } } do |f| %>
    <div>

      <%= text_field_tag :address, params[:address], class: "form-control ace-bar ace-pad transparent-input", placeholder: "Ville", value: ""%>
      <%= text_field_tag :date, params[:date], class: "form-control ace-bar transparent-input", placeholder: "29/05/2023", data: { controller: "datepicker" }, value: ""%>
      <%# <%= f.input :date,
            as: :string,
            input_html: { data: { controller: "datepicker" }, class: "form-control ace-bar transparent-input" } %>
      <%= f.submit class: "save-sub d-none" %>
    </div>
  <% end %>
