<div class="text-center mb-4">
  <h1 style="color: #ac552c; font-size: 26px;"><strong>Indiquez le gagnant du défi</strong></h1>
</div>

<%= simple_form_for(@match) do |f| %>
  <%= f.input :winner,
              as: :radio_buttons,
              collection_wrapper_tag: 'div',
              collection_wrapper_class: 'category-wrapper',
              item_wrapper_class: 'category-item',
              input_html: { class: 'category-selector' },
              collection: [@match.user.name, @request.user.name],
              label: "" %>

  <h3>Score du gagnant</h3>
  <%= f.input :winner_score,
              as: :select,
              collection: 1..8,
              include_blank: false,
              label: ""%>
  <%= f.input :loser_score,
              as: :select,
              collection: 1..8,
              include_blank: false,
              label: ""%>


  <div class="d-flex justify-content-center">
    <%= f.submit "Valider", class: "btn btn-ace mt-4" %>
  </div>
<% end %>




<%# <div class="container">
  <%= simple_form_for(@match) do |f| %>

    <%# <%= f.input :winner, as: :check_boxes, %>
      <%# collection: [@match.user.name, @request.user.name ], %>
      <%# label: "Gagnant:" %>
    <%# <%= f.submit "Valider" %>
  <%# <% end %>
<%# </div> %>
