<div class="search-home">
  <div class="container">
    <%= render 'shared/navbar_index' %>
    <h1 style="color: white; font-size: 35px"><strong>Bouge ton Ace!</strong></h1>
    <div class="search-filter">
      <%= render 'search_bar'%>
      <%= render 'filter_form'%>
    </div>
  </div>

</div>
<%= render 'card', matches: @matches%>
<%= render 'shared/publicite' %>
