<div class="font-card">
<div class="div-global">
  <div data-controller="map-display" class="search-home">
    <%# <%= render 'shared/navbar_index' %>
    <p>ACE</p>
  </div>
  <div class="ace-regul">
    <%= render 'search_bar'%>
  </div>
</div>


  <div class="devant-card">
    <%= render 'card', matches: @matches%>
    <%= render 'shared/publicite' %>
    <%= render 'map_display' %>
  </div>
</div>
