<div class="container">
<h1>Create a new Match</h1>

<%= simple_form_for(@match) do |f| %>

  <%= f.input :address,
    label: "Adresse du Match",
    wrapper_html: {data: {controller: "address-autocomplete",
    input_html: {data: {address_autocomplete_target: "address", class: "d-none"}},
    address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
  %>

  <%= f.input :date,
    as: :string,
    input_html: { data: { controller: "datepicker" } },
    label: "Date & heure"
  %>

  <%= f.input :match_type,
    collection: Match::TYPES,
    label: "Type de Match"
  %>
  <%= f.input :modality,
    collection: Match::MODALITIES,
    label: "Modalité du match"
  %>
  <%= f.input :price,
    label: "Prix"
  %>

  <%= f.input :level,
    collection: [['Jamais joué', 0],['Débutant', 200],['Intermediaire', 400],['Confirmé', 600],['Expert', 800],['Elite',1000]],
    label: "Niveau de jeu"
  %>

  <%= f.submit%>
<% end %>
</div>
</div>
