<div class="container">
<h1>Matches#new</h1>

<%= simple_form_for(@match) do |f| %>
  <%= f.input :address %>

  <%= f.input :type %>
  <%= f.input :modality %>
  <%= f.input :price %>
  <%= f.input :level %>
  <%= f.submit%>
<% end %>
</div>
</div>
