<%= render 'shared/navbar_general' %>

<div style="width: 100%; height: 150px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


<div style="background-color: #EAF959; height: 300px">


  <div class="show-infos">
    <div class="hexag">
    <%= cl_image_tag @match.user.photo.key, class: "avatar avatar-match" %>
    </div>
  </div>

  <div class="banner">
    <p class="size-adress"><%= @match.address %></p>
    <p><%= @match.date.strftime("%d/%m/%Y %H") %> h</p>
  </div>



  <div class="show-match">
    <div class="user-infos">
            <div>
              <p><span style="font-family: CherryBomb-Regular;font-size: 25px;"><%= @match.user.nickname %></span><em> (Lvl : <%= @match.user.points%> pts) </p></em>
              <p><i class="fa-solid fa-coins" style="color: #080808;margin-right:10px"></i><%= @match.price %> €</p>
              <p> <i class="fa-solid fa-people-arrows" style="color: #050505; margin-right:10px"></i>Match <%= @match.modality %></p>
              <p>Niveau recherché : <span style="color:red"><%= @match.level %> points </span></p>
            </div>
    </div>

    <div class="button-match">
      <div data-controller="popup" >
        <%= simple_form_for [@match, @request] do |f| %>
          <%= f.submit "Jouer!", class: "btn-match1", "data-action": "click->popup#handleClick", style: "margin-top: 20px" %>
        <% end %>
      </div>
      <div>
        <%= link_to chatroom_path(params: { user_id: @match.user.id }) do %>
        <button class="btn-match2">Message</button>
        <% end %>
      </div>
    </div>
    <div class="defi-match">
      <% if @match.match_type == "Défi" %>
        <div>
          <i class="fa-solid fa-trophy" style="color: #253343; font-size: 40px;"></i>
          <p class="p-2">Défi</p>
        </div>

      <% else %>
        <i class="fa-solid fa-face-smile" style="color: #253343; font-size: 40px; padding-left:5px"></i>
        <p style="">Amical</p>
      <% end %>

    </div>
  </div>

</div>
